@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap");
* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

header {
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header a {
  text-decoration: none;
  font-size: 32px;
  font-weight: 200;
  color: #fff;
  font-family: "Oooh Baby", cursive;
  padding: 0 0 0 200px;
}
header a:hover {
  color: #9f9fa7;
}

body {
  background-color: #0f0f22;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #5d8aa8;
  color: #fff;
  padding: 25px 0;
}
footer .footer-left,
footer .footer-right {
  display: flex;
  flex-direction: column;
}
footer .footer-left h1,
footer .footer-right h1 {
  font-weight: 500;
  font-size: 28px;
}
footer .footer-left a,
footer .footer-right a {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
}
footer .footer-left a:hover,
footer .footer-right a:hover {
  color: #9f9fa7;
}
footer .footer-left p,
footer .footer-right p {
  font-weight: 400;
  font-size: 22px;
}
footer .footer-right a {
  text-decoration: underline;
}
footer .footer-right .footer-lang {
  display: flex;
  flex-direction: row;
  padding: 25px 0 0 0;
}
footer .footer-right .footer-lang a:last-child {
  padding: 0 0 0 10px;
}

/* custom */
.c-consent {
  position: fixed;
  bottom: 25px;
  left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  width: 350px;
  background-color: #496f89;
  border-radius: 10px;
}
.c-consent .c-icon {
  color: #eeeeee;
  padding: 15px 0 0 0;
}
.c-consent .c-content {
  text-align: center;
}
.c-consent .c-content h1 {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
}
.c-consent .c-content p,
.c-consent .c-content a {
  color: #eeeeee;
  font-size: 22px;
  font-weight: 400;
  text-decoration: none;
}
.c-consent .c-content a {
  font-weight: 700;
}
.c-consent .c-btn {
  width: 100%;
  text-align: center;
  background-color: #5d8aa8;
  border-radius: 0 0 10px 10px;
  font-size: 32px;
  font-weight: 700;
  color: #fff;
}
.c-consent .c-btn:hover {
  background-color: #496f89;
  cursor: pointer;
}

/* end custom */
/* home */
.home-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 200px 0 0 0;
}
.home-container .home-desc {
  text-align: center;
  color: #fff;
}
.home-container .home-desc h1 {
  font-family: "Oooh Baby", cursive;
  font-size: 72px;
  padding: 0 0 15px;
}
.home-container .home-desc p {
  color: #9f9fa7;
  font-weight: 500;
  font-size: 28px;
}
.home-container .home-desc p:last-child {
  padding: 0 0 35px;
}
.home-container .home-form input[type=url],
.home-container .home-form input[type=submit] {
  border: none;
  border-radius: 5px;
  background-color: #eeeeee;
  color: #454545;
  padding: 5px 35px 5px 15px;
  font-size: 22px;
}
.home-container .home-form input[type=submit] {
  padding: 5px 15px;
  margin: 0 0 0 15px;
  background-color: #5d8aa8;
  color: #fff;
  cursor: pointer;
}
.home-container .home-form input[type=submit]:hover {
  background-color: #496f89;
}
.home-container .home-result {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-container .home-result #qr-show {
  color: #9f9fa7;
  padding: 10px 0 0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.home-container .home-result #qr-show:hover {
  color: #454545;
}
.home-container .home-result #qr-qr {
  display: none;
  cursor: pointer;
}
.home-container .home-result .home-result-main {
  background-color: #5d8aa8;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 35px 0 0 0;
  padding: 5px 25px;
}
.home-container .home-result .home-result-main p {
  padding: 0 10px 0 0;
}
.home-container .home-result .home-result-main p,
.home-container .home-result .home-result-main svg {
  color: #fff;
  font-size: 22px;
}
.home-container .home-result .home-result-main svg {
  cursor: pointer;
}
.home-container .home-info {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  color: #fff;
  padding: 200px 200px 35px;
  margin: 200px 0 0 0;
}
.home-container .home-info h1 {
  font-size: 48px;
  font-weight: 500;
}
.home-container .home-info p {
  font-size: 22px;
  color: #9f9fa7;
  font-weight: 500;
}

/* end home */
/* privacy policy */
.ppolicy-container,
.cpolicy-container {
  height: 100%;
  padding: 25px 200px 35px 200px;
}
.ppolicy-container h1,
.ppolicy-container h2,
.ppolicy-container h3,
.cpolicy-container h1,
.cpolicy-container h2,
.cpolicy-container h3 {
  font-size: 58px;
  font-weight: 700;
  color: #fff;
  padding: 0 0 25px;
}
.ppolicy-container h2,
.cpolicy-container h2 {
  font-size: 32px;
  padding: 25px 0 15px;
}
.ppolicy-container h3,
.cpolicy-container h3 {
  font-size: 22px;
  padding: 25px 0 15px;
}
.ppolicy-container p,
.cpolicy-container p {
  font-size: 22px;
  font-weight: 400;
  color: #9f9fa7;
  padding: 10px 0;
}
.ppolicy-container ul,
.cpolicy-container ul {
  margin: 25px 0;
}
.ppolicy-container ul li,
.cpolicy-container ul li {
  font-size: 22px;
  color: #9f9fa7;
  padding: 10px 0;
  font-weight: 400;
}

/* end privacy policy */
/* 404 */
.err-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  height: 85vh;
}
.err-container .err-left h1 {
  font-size: 48px;
  font-weight: 700;
}
.err-container .err-left p {
  font-size: 28px;
  color: #9f9fa7;
}
.err-container .err-left button {
  background-color: #5d8aa8;
  padding: 5px 25px;
  border-radius: 10px;
  border: none;
  margin: 35px 0 0 0;
  cursor: pointer;
}
.err-container .err-left button a {
  color: #fff;
  font-size: 28px;
  text-decoration: none;
}
.err-container .err-left button:hover {
  background-color: #496f89;
}
.err-container .err-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.err-container .err-right svg {
  padding: 0 0 0 25px;
  transform: rotate(10deg);
}
.err-container .err-right h2 {
  font-size: 72px;
  font-weight: 700;
  color: #9f9fa7;
  padding: 0 0 125px;
}

/* end 404 */
/* mobile */
@media (max-width: 854px) {
  header a {
    padding: 0 0 0 35px;
  }

  footer {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 15px 35px;
  }
  footer .footer-left {
    padding: 0 0 15px;
  }

  .c-consent {
    height: 250px;
    width: 300px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 35px;
  }

  .home-container {
    padding: 100px 0 0 0;
  }
  .home-container .home-desc p {
    font-size: 18px;
  }
  .home-container .home-form {
    margin: 0;
    padding: 0 0 0 35px;
  }
  .home-container .home-form input[type=url],
.home-container .home-form input[type=submit] {
    font-size: 18px;
  }
  .home-container .home-form input[type=text] {
    width: 50%;
  }
  .home-container .home-form input[type=submit] {
    padding: 5px;
    margin: 0 0 0 10px;
  }
  .home-container .home-result {
    padding: 5px 0;
  }
  .home-container .home-result p,
.home-container .home-result svg {
    padding: 0 10px;
    font-size: 18px;
  }
  .home-container .home-info {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0 35px 35px;
  }

  .ppolicy-container,
.cpolicy-container {
    padding: 15px 35px 25px 35px;
  }
}
/* end mobile *//*# sourceMappingURL=app.css.map */