$fw-xs: 200;
$fw-s: 300;
$fw-r: 400;
$fw-m: 500;
$fw-b: 700;

$fs-s: 18px;
$fs-r: 22px;
$fs-m: 28px;
$fs-b: 32px;
$fs-xb: 48px;
$fs-xxb: 58px;
$fs-xxxb: 72px;

$p-xs: 5px;
$p-s: 10px;
$p-r: 15px;
$p-rm: 20px;
$p-m: 25px;
$p-b: 35px;
$p-xb: 100px;
$p-xxb: 125px;

$color-main: #232535;
$color-second: #b0b1b8;
$color-third: #3e6f8d;
$color-fourth: #2e3341;
$color-white: #fff;
$color-transparent: rgba(0, 0, 0, 0.2);
$color-semi-transparent: rgba(0, 0, 0, 0.5);
