@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap");
@import "./definitions.scss";

* {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: $fw-s;
}

header {
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    a {
        text-decoration: none;
        font-size: $fs-b;
        font-weight: $fw-xs;
        color: $color-white;
        font-family: "Oooh Baby", cursive;
        padding: 0 0 0 $p-xxxb;
    }

    a:hover {
        color: $color-second;
    }
}

body {
    background-color: $color-main;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: $color-fourth;
    color: $color-white;
    padding: $p-m 0;

    .footer-left,
    .footer-right {
        display: flex;
        flex-direction: column;

        h1 {
            font-weight: $fw-m;
            font-size: $fs-m;
        }

        a {
            text-decoration: none;
            color: $color-white;
            font-size: $fs-r;
            font-weight: $fw-r;
        }

        a:hover {
            color: $color-second;
        }

        p {
            font-weight: $fw-r;
            font-size: $fs-r;
        }
    }

    .footer-right {
        a {
            text-decoration: underline;
        }

        .footer-lang {
            display: flex;
            flex-direction: row;
            padding: $p-m 0 0 0;

            a:last-child {
                padding: 0 0 0 $p-s;
            }
        }
    }
}

/* custom */
.c-consent {
    position: fixed;
    bottom: $p-m;
    left: $p-m;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    width: 350px;
    background-color: $color-alt;
    border-radius: $p-s;

    .c-icon {
        color: $color-fifth;
        padding: $p-r 0 0 0;
    }

    .c-content {
        text-align: center;

        h1 {
            color: $color-white;
            font-size: $fs-b;
            font-weight: $fw-m;
        }

        p,
        a {
            color: $color-fifth;
            font-size: $fs-r;
            font-weight: $fw-r;
            text-decoration: none;
        }

        a {
            font-weight: $fw-b;
        }
    }

    .c-btn {
        width: 100%;
        text-align: center;
        background-color: $color-fourth;
        border-radius: 0 0 $p-s $p-s;
        font-size: $fs-b;
        font-weight: $fw-b;
        color: $color-white;
    }

    .c-btn:hover {
        background-color: $color-alt;
        cursor: pointer;
    }
}
/* end custom */

/* home */
.home-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: $p-xxxb 0 0 0;

    .home-desc {
        text-align: center;
        color: $color-white;

        h1 {
            font-family: "Oooh Baby", cursive;
            font-size: $fs-xxxb;
            padding: 0 0 $p-r;
        }

        p {
            color: $color-second;
            font-weight: $fw-m;
            font-size: $fs-m;
        }

        p:last-child {
            padding: 0 0 $p-b;
        }
    }

    .home-form {
        input[type="url"],
        input[type="submit"] {
            border: none;
            border-radius: $p-xs;
            background-color: $color-fifth;
            color: $color-third;
            padding: $p-xs $p-b $p-xs $p-r;
            font-size: $fs-r;
        }

        input[type="submit"] {
            padding: $p-xs $p-r;
            margin: 0 0 0 $p-r;
            background-color: $color-fourth;
            color: $color-white;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: $color-alt;
        }
    }

    .home-result {
        display: flex;
        flex-direction: column;
        align-items: center;

        #qr-show {
            color: $color-second;
            padding: $p-s 0 0;
            cursor: pointer;
            user-select: none;
        }

        #qr-show:hover {
            color: $color-third;
        }

        #qr-qr {
            display: none;
            cursor: pointer;
        }

        .home-result-main {
            background-color: $color-fourth;
            border-radius: $p-xs;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            margin: $p-b 0 0 0;
            padding: $p-xs $p-m;

            p {
                padding: 0 $p-s 0 0;
            }

            p,
            svg {
                color: $color-white;
                font-size: $fs-r;
            }

            svg {
                cursor: pointer;
            }
        }
    }

    .home-info {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        flex-direction: column;
        color: $color-white;
        padding: $p-xxxb $p-xxxb $p-b;
        margin: $p-xxxb 0 0 0;

        h1 {
            font-size: $fs-xb;
            font-weight: $fw-m;
        }

        p {
            font-size: $fs-r;
            color: $color-second;
            font-weight: $fw-m;
        }
    }
}
/* end home */

/* privacy policy */
.ppolicy-container,
.cpolicy-container {
    height: 100%;
    padding: $p-m $p-xxxb $p-b $p-xxxb;

    h1,
    h2,
    h3 {
        font-size: $fs-xxb;
        font-weight: $fw-b;
        color: $color-white;
        padding: 0 0 $p-m;
    }

    h2 {
        font-size: $fs-b;
        padding: $p-m 0 $p-r;
    }

    h3 {
        font-size: $fs-r;
        padding: $p-m 0 $p-r;
    }

    p {
        font-size: $fs-r;
        font-weight: $fw-r;
        color: $color-second;
        padding: $p-s 0;
    }

    ul {
        margin: $p-m 0;

        li {
            font-size: $fs-r;
            color: $color-second;
            padding: $p-s 0;
            font-weight: $fw-r;
        }
    }
}
/* end privacy policy */

/* 404 */
.err-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: $color-white;
    height: 85vh;

    .err-left {
        h1 {
            font-size: $fs-xb;
            font-weight: $fw-b;
        }

        p {
            font-size: $fs-m;
            color: $color-second;
        }

        button {
            background-color: $color-fourth;
            padding: $p-xs $p-m;
            border-radius: $p-s;
            border: none;
            margin: $p-b 0 0 0;
            cursor: pointer;

            a {
                color: $color-white;
                font-size: $fs-m;
                text-decoration: none;
            }
        }

        button:hover {
            background-color: $color-alt;
        }
    }

    .err-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        svg {
            padding: 0 0 0 $p-m;
            transform: rotate(10deg);
        }

        h2 {
            font-size: $fs-xxxb;
            font-weight: $fw-b;
            color: $color-second;
            padding: 0 0 $p-xxb;
        }
    }
}
/* end 404 */

/* mobile */
@media (max-width: 854px) {
    header {
        a {
            padding: 0 0 0 $p-b;
        }
    }

    footer {
        width: fit-content;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: $p-r $p-b;

        .footer-left {
            padding: 0 0 $p-r;
        }
    }

    .c-consent {
        height: 250px;
        width: 300px;
        left: 50%;
        transform: translateX(-50%);
        bottom: $p-b;
    }

    .home-container {
        padding: $p-xb 0 0 0;

        .home-desc {
            p {
                font-size: $fs-s;
            }
        }

        .home-form {
            margin: 0;
            padding: 0 0 0 $p-b;

            input[type="url"],
            input[type="submit"] {
                font-size: $fs-s;
            }

            input[type="url"] {
                width: 50%;
            }

            input[type="submit"] {
                padding: $p-xs;
                margin: 0 0 0 $p-s;
            }
        }

        .home-result {
            padding: $p-xs 0;

            p,
            svg {
                padding: 0 $p-s;
                font-size: $fs-s;
            }
        }

        .home-info {
            height: fit-content;
            padding: 0 $p-b $p-b;
        }
    }

    .ppolicy-container,
    .cpolicy-container {
        padding: $p-r $p-b $p-m $p-b;
    }
}
/* end mobile */
